
.logo {
  /*max-width: 80px;
   height: 80px;*/
   margin: auto;
   height: auto;
   transform: scale(0.5); 
   display: flex;
   justify-content: center;  
   align-items: center;
   width: 200px;
   height: 128px;
   object-fit: cover;
  
}

.input-container {
 position: relative;
 margin-bottom: 10px;
}

.input-container i {
 position: absolute;
 top: 30%;
 left: 5px;
 transform: translateY(-50%);
}

.text {
   
   font-size: 20px;
   color: #fff;
   margin: 10px;
   margin-bottom: auto;  
 
  
 }
 .container {
   display: flex;
   justify-content: center;
   align-items: center;

 }
 
 .box {
   width: 300px;
   height: 300px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background:#738cba;
 }

.form{
   /*max-width: 250px;*/
   min-height: 180px;
   

   position: relative;
   z-index: 1;
   
   max-width: 200px;
   margin: 0 auto 100px;
   padding: 50px;
   text-align: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   background: linear-gradient(to bottom, #FFFFFF, #6495ED);
   
}


/*.form *{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   
   color: #0a0a0a;
   letter-spacing: 0.5px;
   outline: none;
   border: none;
}*/
/*.form h4{
   font-size: 25px;
   font-weight: 500;
   line-height: 30px;
   text-align: center;
}*/

.form input {
 font-family: serif, sans-serif;
 outline: 0;
 background: #efefef;
 width: 100%;
 border: 0;
 margin: 0 0 3px;
 padding: 15px;
 box-sizing: border-box;
 font-size: 14px;
 padding-left: 30px;
 height:20px;
 
}
.form button {
 font-family: serif, sans-serif;
 text-transform: uppercase;
 outline: 0;
 width: 100%;
 border: 0;
 font-size: 16px;
 cursor: pointer;
 height: 30px;
 width: 100%;
 box-shadow: none;
 bottom: 20px;
 left: 100%;
 background-color: #22a301;
 color: #fff;
 border-radius: 100px;
 letter-spacing: 1.3px;
 padding-bottom: 10px;
 padding-top: 5px;
}

button{
 height: 30px;
 width: 30%;
 box-shadow: none;
 bottom: 100px;
left: 100%;
display: block; /* Changed to block so margin: auto works */
 margin: 0 auto;
 background-color: #22a301;
 color: #fff;
 border-radius: 100px;
 letter-spacing: 1.3px;
}
.view-button {
 background-color: #34c011;


 border: none;
 border-radius: 10px;
 cursor: pointer;
 width: 100px;

}

.upload-button {
 display: inline-block;
 padding: 10px 20px;
 background-color:white ;
 color: #6495ED;
 text-decoration: none;
 border-radius: 8px;
 width: 200px;

}
.upload-button1 {
 text-align: center;
 display: block; /* Changed to block so margin: auto works */
 margin: 0 auto;
 
 padding: 10px 20px;
 background-color:#6495ED;
 color: white;
 text-decoration: none;
 border-radius: 8px;
 width: 200px;

}


/*.form input[type=submit] {
 font-family: serif, sans-serif;
 text-transform: uppercase;
 outline: 0;
 background:  #03A9F4;
 width: 100%;
 border: 0;
 padding: 15px;
 color: #FFFFFF;
 font-size: 14px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
}*/

.addstudentform {
 position: relative;
 /*z-index: 1;*/
 background: #FFFFFF;
 margin: 0 auto 100px;
 width:50%;
 /*padding: 45px;*/
 /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.addstudentform fieldset {
 padding:20px;
 margin:20px 0;
 border:3px solid #222;
}
.addstudentform legend {
 padding:10px;
 font-size:18px;
 letter-spacing:0.1em;
}
.addstudentform input[type=text],input[type=number],input[type=tel] {
 padding:10px;
 font-size:18px;
 letter-spacing:0.1em;
 display:block;
 width:90%;
}

.addstudentform input[type=date] {
 padding:10px;
 font-size:18px;
 letter-spacing:0.1em;
 display:block;
}
.addstudentform input[type=email] {
 padding:10px;
 font-size:18px;
 letter-spacing:0.1em;
 display:block;
 width:90%;
}
.addstudentform input[type=month] {
 padding:10px;
 font-size:18px;
 letter-spacing:0.1em;
 display:block;
}
.addstudentform select {
 padding:10px 50px 10px 10px;
 font-size:18px;
 letter-spacing:0.1em;
 border-radius:4px;
 border:1px solid
 /*display:block;
 width:auto;
 margin:auto;
 align-content: center;*/
}

.addstudentform label{
 font-size:18px;font-size:18px;font-size:18px;font-size:18px;font-size:18px;font-size:18px;
 line-height: 150%;
 display: block;
}

.addstudentform input[type=submit] {
 font-family: serif, sans-serif;
 font-weight:bold;
 text-transform: uppercase;
 outline: 0;
 background: #4CAF50;
 border-radius:4px;
 width: 100%;
 border: 0;
 padding: 10px;
 color: #FFFFFF;
 font-size: 18px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
}




 

input{
   display: flex;
   height: 30px;
   width: 80%;
   background-color:#ebf0f8;
   border-radius: 3px;
   
   margin-top: 3px;
   font-size: 14px;
   font-weight: 300;
}
option{
 display: flex;
 height: 30px;
 width: 100%;
 background-color:#ebf0f8;
 border-radius: 3px;
 
 margin-top: 3px;
 font-size: 14px;
 font-weight: 300;
}
select{
 display: center;
 height: 30px;
 width: 80%;
 background-color:#ebf0f8;
 border-radius: 3px;
 
 margin-top: 3px;
 font-size: 14px;
 font-weight: 300;
}
::placeholder{
   color: #090808;
}
.error {
 font-weight: bold;
 color: #FF0000;
}

.resultupload{
   color:#03A9F4;
   display:flex;
   justify-content: center;
}
.dropdown {
   position: absolute;
   display: block;
}
/* set the size and position of button on web */
.button {
   position: center;
     top: 50px;
     left: 50px;
   background: gray;
   padding: 100px 100px;
   font-size: 15px;
   border: none;
   }
.button:hover{
   background: rgb(240, 144, 144);
}
/* provide css to background of list items */
#list-items {
   display: none;
   position: relative;
   background-color: white;
   width: 156.5px;
}
/* provide css to list items */
#list-items a {
   display: block;
   font-size: 15px;
   background-color: rgb(240, 144, 144);
   color: black;
   text-decoration: none;
   padding: 10px;
   text-align: center;
}
.login-page {
   width: 360px;
   padding: 8% 0 0;
   margin: auto;
 }
 .view-button {
   background-color: #007bff;
   color: #fff;
   padding: 10px 5px 10px 10px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   width: 100px;
  
 }
 
 .view-button:hover {
   background-color: #0069d9;
 }


 
 


 
 
 
 
 
 table {
     border-collapse: collapse;
     width: auto;
     /*align:center;*/
 }
 
 .tctable tr{
   height: 40px;
 }
 
 .tctable tr:hover{background-color:rgba(0, 0, 0, 0)}
 
 .tctable td:nth-child(1){
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: left;
   border:none;
   width:10px;
 }
 .tctable td:nth-child(2){
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: left;
   border:none;
   width:300px;
 }
 .tctable td:nth-child(3){
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: left;
   border:none;
   width:10px;
 }
 .tctable td:nth-child(4){
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: left;
   border:none;
   width:400px;
 }
 tr.tc_tr{
   height: 40px;
 }
 tr.tc_tr2{
   height: 20px;
 }
 td.tctd_first{
     padding: 10px;
     text-align: left;
     border:none;
     width:10px;
 }
 td.tctd_second{
     padding: 10px;
     text-align: left;
     border:none;
     width:300px;
 }
 td.tctd_third{
     padding: 10px;
     text-align: left;
     border:none;
     width:400px;
 }
 
 th{
     padding: 8px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     width:auto;
 }
 
 td{
     padding: 10px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     width:auto;
 }
 
 td.autowidth {
     width: auto;
     white-space: nowrap;
 }
 
 th.autowidth {
     height:auto;
     line-height:auto;
     width: 0px;
     white-space: nowrap;
 }
 td.leftalign
 {
     text-align:left;
     width:auto;
 }
 th.leftalign
 {
     text-align:left;
     width:0px;
 }
 td.rightalign
 {
     text-align:right;
     width:auto;
 }
 th.rightalign
 {
     text-align:right;
     width:0px;
 }
 th.leftalignpgm
 {
     text-align:left;
     width:autopx;
 }
 th.date
 {
     text-align:left;
     text-align:center;
     width:100px;
 }
 
 th.fbborder{
     padding: 8px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     width:auto;
 }
 
 td.fbborder{
     padding: 8px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     width:auto;
 }
 
 td.fbleft{
     padding: 8px;
     text-align: center;
     border-bottom: 1px solid #ddd;
     border-top: 10px solid #ddd;
     border-left: 10px solid #ddd;
     border-right: 10px solid #ddd;
     width:auto;
 }
 
 td.date
 {
     text-align:left;
     width:100px;
     text-align:center;
 }
 
 th.sl
 {
     text-align:left;
     text-align:center;
     width:20px;
 }
 td.sl
 {
     text-align:left;
     width:20px;
     text-align:center;
 }
 td.name
 {
     text-align:left;
     width:100px;
     text-align:center;
 }
 
 td.question
 {
     text-align:left;
     width:200px;
     text-align:left;
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
 }
 
 tr.head
 {
     background-color:#972828
 }
 
 th.fbanswer
 {
     text-align:left;
     width:100px;
     text-align:center;
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
 }
 
 td.fbanswer
 {
     text-align:left;
     width:250px;
     text-align:center;
 }
 
 
 tr.head:hover
 {
     background-color:#aaaaaa
 }
 tr:hover{background-color:#f5f5f5}
 
 .checkboxFour input[type=checkbox] {
 visibility:hidden;
 }
 
 
 /**
  * Checkbox Four
  */
 .checkboxFour {
   width: 40px;
   height: 40px;
   background: #fff;
   margin: 10px 10px;
 
   border-radius: 100%;
   position: relative;
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
 }
 
 /**
  * Create the checkbox button
  */
 .checkboxFour label {
   display: table-row;
   width: 30px;
   height: 30px;
   border-radius: 100px;
     vertical-align:middle;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -o-transition: all .5s ease;
   -ms-transition: all .5s ease;
   transition: all .5s ease;
   cursor: pointer;
   position: absolute;
   top: 5px;
   left: 5px;
   z-index: 1;
     line-height:30px;
   background: #fff;
     font-weight:bold;
   -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
   -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
   box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
 }
 
 /**
  * Create the checked state
  */
 .checkboxFour input[type=checkbox]:checked + label {
   background: #FE5C5C;
 
 }
 
 
 th.rotate {
   /* Something you can count on */
   height: 100px;
   white-space: nowrap;
   text-align:center;
   width: 1px;
   padding:0;
   vertical-align:middle;
   text-align:center;
 
     line-height:auto;
 }
 
 th.rotate > div {
   transform:
     /* Magic Numbers */
     /* 45 is really 360 - 45 */
     rotate(270deg);
     padding:0;
     width:1px;
 }
 .fail{
  color: red;
 }
 
 
 .required:after {
     content:" *";
     color: red;
   }
 
 .tcpage{
     background: white;
     display: block;
     margin: 0 auto;
     margin-bottom: 0.5cm;
 
     width: 21cm;
     height: auto;
 }
 .tcpage2{
     background: white;
     display: block;
     margin: 0 auto;
     margin-bottom: 0.5cm;
 
     width: 19cm;
     height: auto;
 }
 .filterformreport {
   position: relative;
   width:auto;
   z-index: 1;
   background: #FFFFFF;
   margin: auto 20px;
   padding: 5px;
 }
 @media print
 {
   .no-print, .no-print *
   {
     display:none !important;
   }
   html, body{
     height:99%;
   }
  /* * {-webkit-print-color-adjust:exact;}*/
 }

 .filterform {
   position: relative;
   width:auto;
   z-index: 1;
   
  background-color: #FFFFFF;
   margin: 20px 50px 20px 50px;
   padding: 10px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
   display: flex;
   flex-direction: column;
   height:auto;
 
 }

 .filterform-section {
 
     
     width: 50%;
     z-index: 1;
     background-color: #FFFFFF;
     margin: 20px;
     padding: 10px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     
     display: flex;
     flex-direction: column;
     height: auto;
   }
 .cont{
   padding: 50px;
   display: flex;
 }
 
 .cont {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   
 }
 
 .b {
   width: 500px;
   height: 400px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*background: linear-gradient(to bottom, #6495ED, #FFFFFF);*/
   background:#738cba;
 }

 
 